@import 'src/App.scss';
.home-page {
  background-color: $backgroundColor;
  font-family: $mainFont;
  padding-top: 12px;
  border-radius: 8px;
  &__news-list {
    display: flex;
    flex-direction: column;
  }
  &__more {
    padding: 15px 0 15px 10px;
    border-bottom: 4px solid $secondColor;
    cursor: pointer;
  }
}
.news-list__item {
  cursor: pointer;

  display: flex;
  text-decoration: none;
  a {
    text-decoration: none;
  }
  &-title {
    color: $textColor;
    word-break: break-word;
    font-size: 10pt;
  }
  &-sub-info {
    color: $secondaryTextColor;
    font-size: 7pt;
  }
}
